$blue: #63b7ff;
$red: #e2303d;
$white: #ffffff;
$black: #310f14;

@font-face {
  font-family: 'Selima';
  src: url('selima_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Metropolis-bold';
    src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-medium';
    src: url('/fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-regular';
    src: url('/fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: $black;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Metropolis-regular", sans-serif;
}

a {
  color: $white;

  &:focus,
  &:hover {
    color: $white;
    background-color: $red;
    transition: all 1s ease;
  }
}

body {
  background: url("/images/dark.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main__wrapper {
  display: flex;
  flex-direction: row;

  .register {
    border-radius: 2rem;
    border: 0.1rem solid $white;
    display: block;
    letter-spacing: 0.2rem;
    padding: 0.5rem 2rem;
    position: fixed;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
    text-transform: uppercase;

    &:hover {
      border: 0.1rem solid $red;
    }
  }

  .left-bar {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    padding: 1rem 2rem;
    top: 0;
    width: 12rem;

    .left-bar-items {
      position: fixed;
      img {
        width: 10rem;
        margin-bottom: 1rem;
      }
      h2 {
        color: $black;
        font-family: "Selima", sans-serif;
        font-size: 2.2em;
      }
    }


  }

  .scroll-content{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    img {
      width: 75%;
    }
  }
}
