$blue: #63b7ff;
$red: #e2303d;
$darkRed: #9F0215;
$white: #ffffff;
$black: #310f14;
$pink: #F8D0D4;

@font-face {
  font-family: 'Selima';
  src: url('/fonts/selima_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Metropolis-bold';
    src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-medium';
    src: url('/fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-regular';
    src: url('/fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* HTML Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background-color: $black;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Metropolis-regular", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $white;
  transition: all 1s ease;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

body {
  background: url("/images/dark.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

strong {
  font-family: 'Metropolis-bold', sans-serif;
}

#modal__wrapper {
  align-items: flex-start;
  background-color: rgba($black, 0.5);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: auto;
  padding: 10vh 10vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 102;

  .show-modal & { display: flex; }

  .modal-content {
    background-color: $white;
    max-width: 100%;
    min-width: 400px;
    padding: 4rem;
    position: relative;

    h4, p { margin: 1em 0; }
    p {line-height: 1.7em;}
    h3 { font-size: 2rem; }
    h4 {
      font-family: 'Metropolis-bold', sans-serif;
      font-size: 1.5rem;
      line-height: 1.5em;
    }

    .close {
      align-items: center;
      border-radius: 2rem;
      cursor: pointer;
      display: flex;
      fill: rgba($black, 0.5);
      height: 1.5rem;
      justify-content: center;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 1.5rem;

      svg {
        height: 0.75rem;
        width: 0.75rem;
      }

      &:hover { fill: $white; }
    }

    .location {
      align-items: center;
      display: flex;

      .icon {
        fill: $red;
        height: 1rem;
        margin-right: 0.25rem;
        width: 1rem;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;

      span {
        border-radius: 0.625rem;
        color: $white;
        display: inline-flex;
        font-size: 0.75rem;
        height: 1.25rem;
        line-height: 0.75rem;
        margin: 0.25rem;
        padding: 0.25rem 0.5rem;
      }

      &:after { white-space: nowrap; }

      .break, .snack, .social { background-color: $red; }

      .break:after { content: 'break'; }
      .snack:after { content: 'refreshments provided'; }
      .social:after { content: 'social event'; }

      .talk {
        background-color: $blue;
        &:after { content: 'talk'; }
      }
    }
  }
}

.main__wrapper {
  display: flex;
  flex-direction: row;
  position: relative;

  .left-bar {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    z-index: 101;

    img {
      margin-bottom: 0.5rem;
      width: 10rem;
    }

    h2 {
      color: $black;
      font-family: "Selima", sans-serif;
      font-size: 2.2em;
      margin-bottom: 0;
      margin-top: 0;
    }

    @media screen and (max-width: 768px ) {
      flex-direction: row;
      padding: 0.5rem;
      width: 100%;

      img {
        height: 4rem;
        margin: 0 2rem 0 1rem;
        width: auto;
      }

      h2 { align-self: center; }
    }
  }

  nav {
    position: fixed;
    justify-content:center;
    display: flex;
    flex-direction: column;
    right: 0.8rem;
    top: 45%;

    @media screen and (max-width: 500px ) {
      display: none;
    }

    a {
      margin-bottom: 0.7rem;
      height: 15px;

      &:hover {
        border-radius: 50%;

      }
      img {
        height: 15px;
      }
    }
  }

  [data-balloon]:after {
    font-family: "Metropolis-regular", sans-serif !important;
    font-size: 0.8rem !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  [data-balloon][data-balloon-pos='left']:after {
    background-color: rgba(49, 15, 20, 0.8);
  }

  .section-title {
    color: $white;
    letter-spacing: 0.5em;
    text-align: right;
    text-transform: uppercase;
  }

  .scroll-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .welcome {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-evenly;
      padding: 0 9rem;
    }

    .were-back {
      margin: 1rem 10vw;
    }

    .register {
      border-radius: 2rem;
      border: 0.1rem solid $white;
      display: block;
      letter-spacing: 0.2rem;
      padding: 0.5rem 2rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover { border: 0.1rem solid $red; }
    }

    .arrow {
      -webkit-animation: bounce 1s infinite alternate;
      align-self: center;
      animation: bounce 1s infinite alternate;
      height: 20vh;
      margin-bottom: 2rem;
      max-height: 6rem;
    }

    @keyframes bounce {
      from { transform: translateY(0px); }
      to { transform: translateY(-15px); }
    }

    @-webkit-keyframes bounce {
      from { transform: translateY(0px); }
      to { transform: translateY(-15px); }
    }

    @media screen and (max-width: 768px) {
      padding-top: 5rem;

      .welcome { padding: 0;}
    }
  }

  .why__wrapper {
    align-items: stretch;
    background-color: $white;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem;
      width: 50%;

      @media screen and (max-width: 568px ) {
        padding: 2rem;
      }
    }

    .fancy {
      color: $red;
      font-family: "Selima", sans-serif;
      font-size: 3em;
      font-weight: normal;
      margin-bottom: 3rem;
      margin-top: 0;
      text-align: center;
    }

    .image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      flex-grow: 1;
    }

    h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 2rem;
      text-transform: uppercase;
      line-height: 2em;

      @media screen and (max-width: 768px ) {
        line-height: 1.5em;
      }

      @media screen and (max-width: 375px ) {
        font-size: 1.25em;
      }
    }

    p {
      font-size: 1em;
      margin-bottom: 0.5rem;
      font-weight: bold;
      line-height: 2.2rem;
      margin: 0 auto 1rem auto;
    }

    @media screen and (max-width: 1024px ) {
      .content { width: 67%; }
    }

    @media screen and (max-width: 768px ) {
      .content { width: 80%; }
    }
  }

  .speaker__wrapper {
    background-color:  rgba(49, 15, 20, 0.9);
    padding: 8rem;

    h2 {
      color: $red;
    }

    .speaker-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: row;

      .speaker {
        border-left: 2px solid $blue;
        margin: 2.5rem 1rem;
        max-width: 250px;
        text-align: left;

        img {
          margin-bottom: 1rem;
        }

        .speaker-content {
          margin-left: 1rem;

          h3 {
            color: $white;
            font-family: 'Selima', serif;
            font-size: 2.2em;
            margin-bottom: 1rem;
            word-wrap: break-word;
          }

          h4 {
            color: $pink;
            line-height: 1.5em;
            margin-bottom: 1rem;
          }

          a:hover {
            background-color: transparent;
          }
        }
      }
    }

    @media screen and (max-width: 768px ) {
      padding: 4rem;
    }
  }

  .schedule__wrapper {
    background-color: $white;
    background-image: url('/images/arches.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 4rem 8rem;
    width: 100%;

    .modal-content { display: none; }

    .schedule-content {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 -1rem;
    }

    .schedule-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 4rem 1rem 0;
      padding: 0;

      li {
        background-color: $white;
        box-shadow: 0 2px 10px 0 #ddd;
        list-style-type: none;
        margin-bottom: 0.5rem;
        padding: 1rem 1.2rem;

        &.break, &.social { border-left: 3px solid $red; }

        &.talk { border-left: 3px solid $blue; }
      }

      h3 {
        font-family: 'Metropolis-bold', sans-serif;
        margin-bottom: 1rem;
      }

      h4 {
        font-family: 'Metropolis-bold', sans-serif;
        font-size: 1.1em;
        line-height: 1.2em;
        margin-bottom: 0.5rem;
      }

      h6 {
        margin-bottom: 1rem;
        font-size: 0.9em;
      }
    }

    .section-title { color: $red; }

    @media screen and (max-width: 768px) {
      padding: 4rem;
    }

    @media screen and (max-width: 375px) {
      padding: 4rem 2rem;
    }
  }

  .sponsor__wrapper {
    background-color: $darkRed;
    width: 100%;
    background-image: url("/images/oneway.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4rem 8rem;

    .sponsor-content h6 {
      color: $black;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .sponsors {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;

      h6 {
        font-weight: bold;
        font-size: 1rem;
      }

      a {
        img {
          opacity: 0.7;
          margin-bottom: 2rem;
          margin-right: 2rem;
        }

        &:hover {
          background: unset;
          img { opacity: 1; }
        }
      }
    }

    .level-1 img { height: 5rem; }

    .level-2 img { height: 3.5rem; }

    .level-3 img { height: 3rem; }

    @media screen and (max-width: 768px) {
      background-position: 67vw center;
      padding: 4rem;

      .level-1 img { height: 4rem; }

      .level-2 img { height: 3rem; }

      .level-3 img { height: 2rem; }
    }

    @media screen and (max-width: 414px) {
      background-position: 80vw center;
      padding: 4rem 2rem;

      .section-title { margin-bottom: 1rem; }
    }
  }

  .accommodations__wrapper{
    background-color:  rgba(49, 15, 20, 0.9);
    width: 100%;
    padding: 4rem 8rem;

    @media screen and (max-width: 568px ) {
      padding: 2rem;
    }

     img {
       height: 6rem;
       margin-right: 2rem;
       align-self: center;
     }

     .venue-hotel {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-top: 3rem;
       border-bottom: 2px solid $red;
       margin-bottom: 5rem;

       .image-details {
         display: flex;
         flex-direction: row;
       }
     }

     .venue-container,
     .hotel-container {
       flex: 1;
       padding-right: 2rem;
     }

     .venue-container,
     .hotel-container,
     .afterParty__wrapper {
       margin-bottom: 4rem;

     }

     h3 {
       color: $red;
       font-size: 1em;
       letter-spacing: 0.2em;
       text-transform: uppercase;
       margin-bottom: 1rem;
       margin-top: 1rem;
     }

     h4 {
       margin-bottom: 0.8rem;
       font-family: "Selima", sans-serif;
       a {
         text-decoration: none;
         font-size: 3em;
         background-color: transparent;
         &:hover {
           color: $red;
         }
       }
     }

     h5 {
       margin-bottom: 2rem;
       a {
         text-decoration: none;
         font-size: 1em;
         background-color: transparent;
         &:hover {
           color: $red;
         }
       }
     }

     h6 {
       color: $pink;
       text-transform: uppercase;
       margin-bottom: 0.5rem;
     }

     p {
       color: $pink;
       line-height: 1.8em;
       margin-bottom: 1.5rem;
       font-size: 0.9em;
     }

     .register {
       border-radius: 2rem;
       border: 0.1rem solid $white;
       display: block;
       letter-spacing: 0.2rem;
       padding: 0.5rem 2rem;
       text-decoration: none;
       text-transform: uppercase;
       text-align: center;

       &:hover { border: 0.1rem solid $red; }
     }
  }

  .videos__wrapper{
    background-color:  rgba(49, 15, 20, 0.9);
    background-image: url('/images/basketball.jpg');
    background-position: center;
    background-size: cover;
    padding: 4rem 8rem;
    width: 100%;

    .section-title { margin-bottom: 4rem; }

    .video {
      margin: 1rem 1rem 4rem 1rem;
      position: relative;

      iframe {
        display: block;
        height: 315px;
        width: 560px;
      }
    }

    .videos {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .video-title {
      background-color: #000;
      bottom: -3rem;
      color: $red;
      height: 3rem;
      letter-spacing: 0.2em;
      padding: 1rem;
      position: absolute;
      text-transform: uppercase;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 4rem;
    }

    @media screen and (max-width: 414px) {
      padding: 4rem 1rem;
    }
  }

  footer {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4rem 2rem;
    width: 100%;

    a { text-decoration: none; }

    .copy {
      color: $white;
      font-size: 75%;
      margin-top: 4rem;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      a {
        border-radius: 2rem;
        box-shadow: inset 0 0 0 0.1rem $white;
        letter-spacing: 0.2rem;
        margin: 0.5rem 1rem;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover { box-shadow: inset 0 0 0 0.1rem $red; }
      }
    }

    .social {
      align-items: center;
      display: flex;
      justify-content: center;

      a {
        display: inline-flex;
        margin: 1rem 0.75rem;

        &:hover { background-color: transparent; }
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    @media screen and (max-width: 320px) {
      .links a { font-size: 80%; }
    }
  }
}

.code-of-conduct__wrapper {
  background-color: rgba(240, 240, 240, 0.9);
  padding: 2rem;

  img {
    max-width: 10rem;
  }

  .code-content {
    max-width: 800px;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
    }

    h2,
    h3 {
      color: $red;
      margin: 2rem;
      font-weight: bold;
    }

    p {
      color: $black;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  a {
    align-self: center;
    border-radius: 2rem;
    border: 0.1rem solid $black;
    color: $black;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 15rem;
    &:hover {
      background-color: $red;
      border: 0.1rem solid $red;
      color: $white;
    }
  }
}

.prospectus__wrapper {
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: $white;
    font-size: 2em;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .table-container {
    align-self: center;
    margin-bottom: 4rem;
    overflow-x: auto;
    width: 100%;
  }

  table {
    background-color: rgba(240, 240, 240, 0.95);
    border-collapse: collapse;
    margin: 0 auto 4rem auto;
    overflow: scroll;
  }

  /* Zebra striping */
  tr:nth-of-type(odd) { background: $white; }

  th {
    background: $red;
    color: white;
    font-weight: bold;
  }

  .cost-row {
    color: $red;
    span { float: right; }
  }

  .red-dot {
    color: $red;
    font-size: 2em;
  }

  td, th {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }

  td:first-child { text-align: left; }

  a {
    align-self: center;
    border-radius: 2rem;
    border: 0.1rem solid $white;
    color: $white;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 15rem;
    &:hover {
      background-color: $red;
      border: 0.1rem solid $red;
      color: $white;
    }
  }
}
