<div class="accommodations__wrapper">
  <h2 class="section-title">accommodations</h2>
    <div class="venue-hotel">
      <div class="venue-container">
      <h3>Venue</h3>
      <div class="image-details">
        <img src="/images/newberry.svg" />
        <div>
          <h4><a href="https://www.newberry.org/" target="_blank">Newberry Library</a></h4>
          <h5><a href="https://bit.ly/2GrA2Q8" target="_blank">60 West Walton Street, Chicago, Illinois 60610</a></h5>
          <h6>Details</h6>
          <p>Please keep in mind that the main entrance will be closed due to renovation.</p>
        </div>
      </div>
    </div>
    <div class="hotel-container">
      <h3>Lodging</h3>
      <h4><a href="https://bit.ly/2HY8CCj" target="_blank">Talbott Hotel</a></h4>
      <h5><a href="https://bit.ly/2pXjXeS" target="_blank">20 E Delaware Pl, Chicago, IL 60611
      </a></h5>
      <h6>Details</h6>
      <p> $169.00/night (plus Tax)</p>
      <p>Newly renovated, Complimentary High Speed WiFi, Comp. Fitness Center Pass, Comp. grab and go breakfast with coffee and tea service.</p>
      <a href="https://bit.ly/2EeesfO" target="_blank" class="register">Reserve Your Room Here</a>
    </div>
  </div>
  <div className="afterParty__wrapper">
    <h3>After Party</h3>
    <h4><a href="https://www.daveandbusters.com/locations/chicago-gold-coast">Dave and Buster's</a></h4>
    <h5><a href="https://bit.ly/2pZga0p">1030 N. Clark Street Chicago, IL 60610</a></h5>
    <h6>Details</h6>
    <p>Thursday, May 10, 2018 :: 7:00p-10:00p </p>
    <p>Maple Lounge and Player’s Bar</p>
    <p>Please join us for the Madison+ Ruby Conference After Party. The ultimate
      gaming experience featuring hundreds of interactive games and activities,
      Chips and Salsa bar, and access to our own private bar. Feel free to
      network with your fellow attendees or have fun challenging them in a game
      for a night full of memories.
    </p>
  </div>
</div>
