<div class="schedule__wrapper">
  <h2 class="section-title">Schedule</h2>
  <div class="schedule-content">
    <ul class="schedule-list">
      <h3>May 10th</h3>
        <li class="break">
          <h6>8:00a</h6>
          <h4>Breakfast</h4>
        </li>
        <% 3.times do |num| %>
        <li class="talk">
          <h6>9:00a</h6>
          <h4>Name Namely</h4>
          <h5>Talk title Talk Title</h5>
        </li>
      <% end %>
      <li class="break">
        <h6>12:00p</h6>
        <h4>Lunch</h4>
      </li>
      <% 3.times do |num| %>
        <li class="talk">
          <h6>9:00a</h6>
          <h4>Name Namely</h4>
          <h5>Talk title Talk Title</h5>
        </li>
      <% end %>
    </ul>
    <ul class="schedule-list">
      <h3>May 11th</h3>
        <li class="break">
          <h6>8:00a</h6>
          <h4>Breakfast</h4>
        </li>
        <% 3.times do |num| %>
        <li class="talk">
          <h6>9:00a</h6>
          <h4>Name Namely</h4>
          <h5>Talk title Talk Title</h5>
        </li>
      <% end %>
      <li class="break">
        <h6>12:00p</h6>
        <h4>Lunch</h4>
      </li>
      <% 3.times do |num| %>
        <li class="talk">
          <h6>9:00a</h6>
          <h4>Name Namely</h4>
          <h5>Talk title Talk Title</h5>
        </li>
      <% end %>
    </ul>
  </div>
</div>
