<div class="schedule__wrapper" id="schedule">
  <h2 class="section-title">Schedule</h2>
  <div class="schedule-content">

    <% data.schedule.each do |day| %>
    <ul class="schedule-list">
      <h3><%= day.date.strftime("%A %-d %B") %></h3>

      <% day.events.each do |event| %>
      <%= partial "partials/event", locals: { min: @min, block: @block }.merge!(event) %>
      <% end %>

    </ul>
    <% end %>

  </div>
</div>
<div id="modal__wrapper"></div>
