<div class="speaker__wrapper">
  <ul class="speaker-list">
    <a href="https://www.papercall.io/madison-ruby-chicago" class="cfp" target="_blank">
      <li>
        <img src="/images/you.png" />
        <h3>You Wanna Speak or Host?</h3>
      </li>
    </a>
  </ul>
</div>
