<div class="speaker__wrapper">
  <ul class="speaker-list">
    <li>
      <img src="/images/demo.png" />
      <h3>Jim Remsik</h3>
    </li>
    <li>
      <img src="/images/demo2.png" />
      <h3>Kelly Rauwerdink</h3>
    </li>
    <li>
      <img src="/images/demo.png" />
      <h3>Jim Remsik</h3>
    </li>
    <li>
      <img src="/images/demo.png" />
      <h3>Jim Remsik</h3>
    </li>
    <li>
      <img src="/images/demo2.png" />
      <h3>Jim Remsik</h3>
    </li>
    <li>
      <img src="/images/demo.png" />
      <h3>Jim Remsik</h3>
    </li>
  </ul>
</div>
