<div class="speaker__wrapper">
  <h2 class="section-title">Speakers</h2>
  <ul class="speaker-list">
    <% 20.times do |num| %>
    <li class="speaker">
      <img src='http://via.placeholder.com/250x333' />
      <div class="speaker-content">
        <h3>Name Namelanins</h3>
        <h4>Talk Title talk title talk Title Talk Title talk</h4>
      </div>
    </li>
    <% end %>
  </ul>
</div>
