<div class="sponsor__wrapper">
  <h2 class="section-title">Sponsors</h2>
  <div class="sponsor-content">
    <div class="level-1">
      <h6>Level 1</h6>
      <div class="sponsors">
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
      </div>
    </div>
    <div class="level-2">
      <h6>Level 2</h6>
      <div class="sponsors">
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
      </div>
    </div>
    <div class="level-3">
      <h6>Level 3</h6>
      <div class="sponsors">
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
        <img src="http://via.placeholder.com/300x100" />
      </div>
    </div>
  </div>
</div>
