<div class="sponsor__wrapper">
  <h2 class="section-title">Sponsors</h2>
  <div class="sponsor-content">
    <div class="level-1">
      <h6>Level 1</h6>
      <div class="sponsors">
        <a href="https://www.adorable.io/" target="_blank"><img src="images/1_adorable.svg" /></a>
      </div>
    </div>
    <div class="level-2">
      <h6>Level 2</h6>
      <div class="sponsors">
        <a href="https://app.cardiganapp.com/login" target="_blank"><img src="images/2_cardigan.svg" /></a>
        <a href="https://bendyworks.com/" target="_blank"><img src="images/2_bendyworks.svg" /></a>
      </div>
    </div>
    <div class="level-3">
      <h6>Level 3</h6>
      <div class="sponsors">
        <a href="https://www.fastly.com/" target="_blank"><img src="images/3_fastly.svg" /></a>
        <a href="https://tenforward.consulting/" target="_blank"><img src="images/3_tenforward.svg" /></a>
      </div>
    </div>
  </div>
</div>
