<div class="sponsor__wrapper">
  <h2 class="section-title">Sponsors</h2>
  <div class="sponsor-content">
    <div class="level-1">
      <h6>Level 1</h6>
      <div class="sponsors">
        <img src="images/1_adorable.svg" />
      </div>
    </div>
    <div class="level-2">
      <h6>Level 2</h6>
      <div class="sponsors">
        <img src="images/2_cardigan.svg" />
      </div>
    </div>
    <div class="level-3">
      <h6>Level 3</h6>
      <div class="sponsors">
        <img src="images/3_fastly.svg" />
        <img src="images/3_tenforward.svg" />
      </div>
    </div>
  </div>
</div>
