<div class="videos__wrapper" id="videos">
  <h2 class="section-title">Past Conferences</h2>
  <div class="videos">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fUj5Ur922UM?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      <div class="video-title">
        <p>Madison+ Ruby 2015</p>
      </div>
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qyZXzvKx_yg?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      <div class="video-title">
        <p>Madison+ Ruby 2014</p>
      </div>
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VKxmRzqEklk?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      <div class="video-title">
        <p>Madison+ Ruby 2013</p>
      </div>
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6gY_24-hyww?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      <div class="video-title">
        <p>Madison+ Ruby 2012</p>
      </div>
    </div>
  </div>
</div>
