<div class="videos__wrapper">
  <h2 class="section-title">Past Conferences</h2>
  <div class="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fUj5Ur922UM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qyZXzvKx_yg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VKxmRzqEklk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6gY_24-hyww?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
