<div class="why__wrapper">
  <p>Come join us for the new edition of Madison+ Ruby</p>
  <p>We’re taking the show on the road and discovering local flavor where it lives, first stop: Chicago.</p>
  <p class="fancy">with the same flavor you come to expect and love</p>
</div>
