<div class="why__wrapper">
  <p><span class="fancy">Come join us for the new edition of Madison+ Ruby</span></p>
  <p>We’re taking the show on the road and discovering local flavor where it lives, first stop: Chicago with the same flavor you come to expect and love</p>
  <div class="content">
    <p>Madison+ Ruby is a community conference that engages more than just our
      technical selves. This Chicago event is an opportunity to explore Ruby, Chicago,
      Music, and probably cheese. If you’re doing something at the intersection of
      Ruby and Cheese you can skip this process and just show up. We’ll put you on
      stage.
    </p>
    <p>
      We pride ourselves on creating a space where people feel like they can get
      involved. We appreciate the new voices and talent that make the community
      dynamic and help it grow.
    </p>
  </div>
</div>
