<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
  <title>Facebook</title>
  <g fill="white" stroke="none" transform="translate(0.5, 0)">
    <path d="M16.8842999,0 L2.11053749,0 C0.94974187,0 0,0.999905436 0,2.22201208 L0,17.7760966 C0,18.9993143 0.94974187,19.9981087 2.11053749,19.9981087 L9.4974187,19.9981087 L9.4974187,12.2210664 L7.38688121,12.2210664 L7.38688121,9.47132649 L9.4974187,9.47132649 L9.4974187,7.19376411 C9.4974187,4.78954704 10.7764044,3.10081786 13.4715608,3.10081786 L15.3742103,3.10303987 L15.3742103,5.9972106 L14.1110537,5.9972106 C13.0621165,5.9972106 12.6632249,6.82602111 12.6632249,7.59483729 L12.6632249,9.4724375 L15.3731551,9.4724375 L14.7737624,12.2210664 L12.6632249,12.2210664 L12.6632249,19.9981087 L16.8842999,19.9981087 C18.0450955,19.9981087 18.9948374,18.9993143 18.9948374,17.7760966 L18.9948374,2.22201208 C18.9948374,0.999905436 18.0450955,0 16.8842999,0 Z"></path>
  </g>
</svg>
