<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1">
  <title>YouTube</title>
  <g stroke="none" fill="inherit" transform="translate(0, 2.5)">
    <path d="M7.935,10.1785991 L7.93416667,4.23765656 L13.3383333,7.21818832 L7.935,10.1785991 Z M19.8,3.2079865 C19.8,3.2079865 19.6041667,1.75140141 19.005,1.10927921 C18.2441667,0.266821893 17.3920833,0.262885176 17.00125,0.213894927 C14.2025,0 10.0045833,0 10.0045833,0 L9.99541667,0 C9.99541667,0 5.7975,0 2.99875,0.21433234 C2.6075,0.262885176 1.75583333,0.266821893 0.994583333,1.10927921 C0.395,1.750964 0.2,3.2079865 0.2,3.2079865 C0.2,3.2079865 0,4.91958333 0,6.63030533 L0,8.23473599 C0,9.94589541 0.2,11.6566174 0.2,11.6566174 C0.2,11.6566174 0.395,13.1136399 0.994583333,13.7553247 C1.75583333,14.597782 2.755,14.5715372 3.2,14.6594572 C4.8,14.8217374 10,14.8720399 10,14.8720399 C10,14.8720399 14.2025,14.8654787 17.00125,14.6511464 C17.3920833,14.6017187 18.2441667,14.597782 19.005,13.7553247 C19.6045833,13.1136399 19.8,11.6566174 19.8,11.6566174 C19.8,11.6566174 20,9.94633283 20,8.23473599 L20,6.63030533 C20,4.91958333 19.8,3.2079865 19.8,3.2079865 Z" id="Youtube"></path>
  </g>
</svg>
