---
title: Madison Ruby:CHICAGO
---

<div class="main__wrapper">

  <div class="left-bar">
    <div class="left-bar-items">
      <img src="/images/logo.svg" />
      <h2>May 11th-12th</h2>
    </div>
  </div>

  <div class="scroll-content">
    <img src="/images/were-back.svg" />
    <%= link_to(
      "Register Now",
      "https://ti.to/adorable/madison-ruby-chicago",
      target: "_blank",
      class: "register"
        ) %>
  </div>
</div>
