<div class="prospectus__wrapper">
  <h2>Sponsorship packages and benefits</h2>
  <div class="table-container">
    <table>
      <thead>
          <tr>
            <th>Sponsorship Package</th>
            <th>Video</th>
            <th>Level 1</th>
            <th>After Party</th>
            <th>Level 2</th>
            <th>Lunch</th>
            <th>Level 3</th>
            <th>Beverage</th>
            <th>Break</th>
            <th>Lanyard</th>
            <th>Level 4</th>
          </tr>
      </thead>
      <tbody>
        <tr class="cost-row">
          <td>Benefits v <span>Costs ></span></td>
          <td>$15,000</td>
          <td>$5,000</td>
          <td>$5,000</td>
          <td>$4,000</td>
          <td>$3,000</td>
          <td>$2,500</td>
          <td>$1,500</td>
          <td>$1,000</td>
          <td>$1,000</td>
          <td>$750</td>
        </tr>
          <td>Free conference Tickets</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <tr>
          <td>Logo displayed on website</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
        </tr>
        <tr>
          <td>Recognized at closing address</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td></td>
        </tr>
        <tr>
          <td>Give SWAG to attendees</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
        </tr>
        <tr>
          <td>Logo displayed at the end of the conference video</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Logo in rotating slide show display</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Display banner at: (sponsor provides)</td>
          <td>Lounge Area</td>
          <td>Lounge Area</td>
          <td>After Party</td>
          <td>Lounge Area</td>
          <td>Lounge Area</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Mentioned in the event blog post</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Logo displayed during:</td>
          <td class="red-dot">•</td>
          <td></td>
          <td>After Party</td>
          <td></td>
          <td></td>
          <td></td>
          <td>Break Service</td>
          <td>Break Service</td>
          <td>Lanyards</td>
          <td></td>
        </tr>
        <tr>
          <td>Pre-event emails</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td class="red-dot">•</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/">Return</a>
</div>
